$icon-font-path: "/fonts/";

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.app {
    width: 95%;
    border: 1px solid black;
    overflow: hidden;
}

.imageItem {
    border-radius: 15px;
    background-color: #deebed;
    padding: 7px;
    margin-top: 25px;
    width: 200px;
    overflow: hidden;
}

.imageItemList {
    list-style-type: none;
}
