.app {
    width: 95%;
    border: 1px solid black;
    overflow: hidden;
}


.fileInputContainer {
    border: 1px solid yellow;
    overflow: hidden;
}

.imageListContainer {
    width: 60%;
    float: left;
    border: 1px solid green;
}

.imageItem {
    border-radius: 15px;
    background-color: #deebed;
    padding: 7px;
    margin-top: 25px;
    width: 200px;
    overflow: hidden;
}

.imageItemList {
    list-style-type: none;
}
